---
import { type Product } from "../types";
import ProductItem from "../components/ProductItem.astro";
import Layout from "@/components/Layout.astro";

const response = await fetch("https://graphql.datocms.com/", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `
      query AllProducts {
        allProducts(orderBy: shelfOrder_ASC) {
          available
          description
          id
          name
          onSale
          onlyDelivery
          price
          salePrice
          bestSeller
          shelfOrder
          coverImage {
            blurhash
            thumbhash
            responsiveImage(imgixParams: { auto: compress, fm: webp, q: 100, minW: 300, w: 640 }) {
                src
                srcSet
                sizes
                width
                height
            }
          }
        }
      }`,
  }),
});

const json = (await response.json()) as { data: { allProducts: Product[] } };
const products = json.data.allProducts;
---

<Layout>
  <article
    class="container relative flex flex-col gap-y-4 mx-auto max-w-screen-lg p-4"
  >
    <h2 class="w-full md:w-fit text-center text-xl font-bold text-primary">
      มัทฉะเกรดพิธีการ
    </h2>
    <p>
      ริว ใช้ผงมัทฉะระดับ Ceremonial Grade หรือเกรดพิธีการในการชงทุกเมนู
      ด้วยคุณภาพและรสชาติที่สามารถสร้างความซับซ้อน มีความอูมามิและมีกลิ่นหอม
      ช่วยให้ประสบการณ์การดื่มชาเพิ่มไปอีกขั้น
    </p>
    <h2
      id="menu"
      class="w-full md:w-fit text-center text-xl font-bold text-primary"
    >
      Menu
    </h2>
    <ul class="grid grid-cols-3 grid-flow-row gap-4">
      {
        products.map((product) => (
          <li class="col-span-3 flex flex-row md:col-span-1">
            <ProductItem product={product} />
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
