---
import type { Product } from "../types";
import ProductItem from "../components/ProductItem.astro";
import Layout from "@/components/Layout.astro";
import FeatureImage from "../assets/images/home/feature-1.webp";
import { Image } from "astro:assets";
import OrderButton from "@/components/product/OrderButton";

const response = await fetch("https://graphql.datocms.com/", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `
      query AllProducts {
        allProducts(orderBy: shelfOrder_ASC) {
          available
          description
          id
          name
          onSale
          onlyDelivery
          price
          salePrice
          bestSeller
          shelfOrder
          tasteNote
          powderType
          recommended
          coverImage {
            blurhash
            thumbhash
            responsiveImage(imgixParams: { auto: compress, fm: webp, q: 100, minW: 300, w: 640 }) {
                src
                srcSet
                sizes
                width
                height
            }
          }
        }
      }`,
  }),
});

const json = (await response.json()) as { data: { allProducts: Product[] } };
const products = json.data.allProducts;
const singleMenus = products.filter((product) => product.powderType);
const blendMenus = products.filter((product) => !product.powderType);
---

<Layout>
  <article
    class="container relative mx-auto flex flex-col gap-y-4 px-2 py-3 md:px-0 lg:py-5"
  >
    <section class="container hero w-full">
      <div
        class="container flex w-full flex-col justify-center gap-x-2 gap-y-2 p-0 md:flex-row md:items-center md:gap-x-4 lg:gap-x-8"
      >
        <Image
          src={FeatureImage}
          alt="feature-image-1"
          class="rounded-md"
          width={480}
        />
        <div class="flex flex-1 flex-col gap-y-2">
          <h2 class="text-lg font-bold text-primary md:w-fit">
            มัทฉะเกรดพิธีการ
          </h2>
          <p
            class="whitespace-pre-line font-ibm-plex-sans-thai text-sm lg:text-base"
          >
            {
              `ที่ร้านริว เราใช้ผงมัทฉะระดับ Ceremonial Grade
            หรือเกรดพิธีการในการชงทุกเมนู เพื่อให้ได้คุณภาพที่ดีที่สุด
            สร้างรสชาติที่เข้มข้นซับซ้อน มีความอูมามิและกลิ่นหอม
            สร้างประสบการณ์การดื่มชาขึ้นอีกขั้น`
            }
          </p>
          <div class="flex gap-x-2">
            <a href="#contact" class="btn btn-primary btn-sm">มาหาเรา</a>
            <OrderButton
              className="btn btn-outline btn-primary btn-sm"
              client:only
            >
              สั่งซื้อชาเขียว
            </OrderButton>
          </div>
        </div>
      </div>
    </section>

    <section class="mx-auto flex flex-col gap-y-2">
      <hr class="border-t border-primary/30" />
      <div class="flex items-center gap-x-2">
        <h2 class="text-lg text-primary underline">Single Cultivar</h2>
        <p class="text-xs text-slate-500 md:text-sm">
          เมนูมัทฉะสายพันธุ์เดี่ยว
        </p>
      </div>
      <div
        class="grid grid-cols-2 grid-rows-[repeat(4,_auto)] gap-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-3"
      >
        {singleMenus.map((product) => <ProductItem product={product} />)}
      </div>
      <hr class="border-t border-primary/30" />
      <div class="flex items-center gap-x-2">
        <h2 class="text-lg text-primary underline">Blend</h2>
        <p class="text-xs text-slate-500 md:text-sm">
          เมนูมัทฉะเบลนด์สูตรเฉพาะของทางร้าน
        </p>
      </div>
      <ul
        class="grid grid-cols-2 grid-rows-[repeat(4,_auto)] gap-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-3"
      >
        {blendMenus.map((product) => <ProductItem product={product} />)}
      </ul>
    </section>
  </article>
</Layout>
