---
import type { Product } from '../types'
import ProductItem from '../components/ProductItem.astro'
import Layout from '@/components/Layout.astro'
import FeatureImage from '../assets/images/home/feature-1.webp'
import { Image } from 'astro:assets'
import OrderButton from '@/components/product/OrderButton'

const response = await fetch('https://graphql.datocms.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `
      query AllProducts {
        allProducts(orderBy: shelfOrder_ASC) {
          available
          description
          id
          name
          onSale
          onlyDelivery
          price
          salePrice
          bestSeller
          shelfOrder
          tasteNote
          powderType
          recommended
          coverImage {
            blurhash
            thumbhash
            responsiveImage(imgixParams: { auto: compress, fm: webp, q: 100, minW: 300, w: 640 }) {
                src
                srcSet
                sizes
                width
                height
            }
          }
        }
      }`,
  }),
})

const json = (await response.json()) as { data: { allProducts: Product[] } }
const products = json.data.allProducts
const singleMenus = products.filter((product) => product.powderType)
const blendMenus = products.filter((product) => !product.powderType)
---

<Layout>
  <article
    class="container relative mx-auto flex max-w-screen-xl flex-col gap-y-4 bg-base-100 p-3 md:p-4 lg:px-8"
  >
    <section class="hero lg:max-w-screen-lg mx-auto">
      <div class="hero-content p-0 flex flex-col md:flex-row">
        <Image
          src={FeatureImage}
          alt="feature-image-1"
          class="rounded-md"
          width={480}
        />
        <div class="flex flex-col gap-y-3">
          <h2 class="text-xl font-bold text-primary md:w-fit">
            มัทฉะเกรดพิธีการ
          </h2>
          <p class="font-ibm-plex-sans-thai text-base">
            ที่ร้านริว เราใช้ผงมัทฉะระดับ Ceremonial Grade หรือเกรดพิธีการในการชงทุกเมนู
            เพื่อให้ได้คุณภาพที่ดีที่สุด สร้างรสชาติที่เข้มข้นซับซ้อน
            มีความอูมามิและกลิ่นหอม สร้างประสบการณ์การดื่มชาขึ้นอีกขั้น
          </p>
          <div class="flex gap-x-2">
            <a href="#contact" class="btn btn-primary">มาหาเรา</a>
            <OrderButton className="btn btn-outline btn-primary" client:only>
              สั่งซื้อชาเขียว
            </OrderButton>
          </div>
        </div>
      </div>
    </section>

    <section class="mx-auto flex flex-col gap-y-3 lg:max-w-screen-lg">
      <h2 class="mb-2 mt-4 text-3xl text-primary underline">Single Farm</h2>
      <p>เมนูมัทฉะสายพันธุ์เดี่ยว</p>
      <ul class="grid grid-flow-row grid-cols-6 gap-2 lg:gap-4">
        {
          singleMenus.map((product) => (
            <li class="col-span-6 flex flex-row md:col-span-2">
              <ProductItem product={product} />
            </li>
          ))
        }
      </ul>
      <h2 class="mb-2 mt-6 text-3xl text-primary underline">Blend</h2>
      <p>เมนูมัทฉะเบลนด์สูตรเฉพาะของทางร้าน</p>
      <ul class="grid grid-flow-rows grid-cols-6 gap-2 lg:gap-4">
        {
          blendMenus.map((product) => (
            <li class="col-span-6 flex flex-row md:col-span-2">
              <ProductItem product={product} />
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</Layout>
