<footer
  id="contact"
  class="footer bg-base-200 p-4 text-sm text-base-content lg:p-10"
>
  <aside>
    <h2 class="text-lg font-bold">RYUU Cafe</h2>
    <p class="text-sm">
      Block Space 34, 1546 ซอยพหลโยธิน 34<br />แขวงเสนานิคม เขตจตุจักร กรุงเทพฯ
    </p>
    <p class="mt-4 text-sm">© 2024 ryuucafe.com. All rights reserved.</p>
  </aside>
  <nav>
    <h2 class="text-lg font-bold">Delivery</h2>
    <a
      href="https://www.wongnai.com/delivery/businesses/2731010Vj/order?af_channel=54af16e06fdfb5eca174bfee9939bcde&af_force_deeplink=true&c=share_link&pid=lineman_app"
      >Line Man</a
    >
    <a
      href="https://static.robinhood.in.th/app_link.html?URI=robinhoodth://merchantlanding/id/360887"
      >Robinhood</a
    >
    <a
      href="https://grab.onelink.me/2695613898?pid=inappsharing&c=3-C6DATEE3RAXTCX&is_retargeting=true&af_dp=grab%3A%2F%2Fopen%3FscreenType%3DGRABFOOD%26sourceID%3DA4pcqCZkS4%26merchantIDs%3D3-C6DATEE3RAXTCX&af_force_deeplink=true&af_web_dp=https%3A%2F%2Fwww.grab.com"
      >Grab</a
    >
    <a
      href="https://shopee.co.th/universal-link/now-food/shop/10202568?deep_and_deferred=1&shareChannel=copy_link"
      >Shopee Food</a
    >
  </nav>
  <nav>
    <h2 class="text-lg font-bold">Links</h2>
    <a
      href="https://www.instagram.com/ryuu.bkk?igsh=ZG0yMW9paWUyd3Rz&utm_source=qr"
      >Instagram</a
    >
    <a href="https://lin.ee/Vb6WFNu">LINE Official</a>
  </nav>
</footer>
