---
import { Picture } from "astro:assets";
import HeaderMenus from "./HeaderMenus";
import RyuuLogo from "/public/logo.webp";
const subtitle = "เครื่องดื่มมัทฉะพรีเมี่ยม";
---

<header class="navbar sticky top-0 z-header h-16 bg-base-100 shadow lg:h-24">
  <div class="navbar-start flex gap-x-1 md:gap-x-4">
    <HeaderMenus vairiant="mobile" client:load />
    <Picture
      class="hidden aspect-square rounded-full text-base/none md:block"
      width={44}
      height={44}
      src={RyuuLogo}
      densities={[1, 2]}
      alt="RYUU Matcha Logo"
    />
    <div class="flex flex-col">
      <h1 class="text-lg font-bold">RYUU りゅう</h1>
      <p class="sr-only text-xs md:not-sr-only">{subtitle}</p>
    </div>
  </div>
  <div class="navbar-center flex flex-grow flex-row md:flex-col"></div>
  <HeaderMenus vairiant="desktop" client:load />
</header>
