---
import "@fontsource/ibm-plex-sans-thai";
import "@fontsource/poppins";
import "@fontsource/esteban";
import "@fontsource/sarabun";
import "../style/global.css";
import Head from "../modules/seo/Head.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<html lang="th" data-theme="emerald" class="relative bg-base-200">
  <Head />
  <body class="relative bg-base-200">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
