---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<html lang="th" data-theme="emerald" class="relative">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>RYUU</title>
  </head>
  <body class="bg-base-100 relative">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
